/*CSS for ScoobyDoo Site*/

/*--------this section deals with the entire body of website-----------*/
body {
	 font: 100%/1.25 Verdana, Helvetica, sans-serif;
	 background-color: #996699;
 	 padding: 0%;
 	 margin: 0% auto;
 	 max-width: 960px;
	}
	
h1, h2 {
	font-family: "Griffy", Arial, sans-serif;
	}

/*--------this section deals with main navigation of website----------------*/	
nav{
	width: 20.83333%; /* 200px/960px */
	margin-top: .208333%; /* 2px/960px */
	background: #660099;
	clear: both;
	float: left;
	}
	
.navigation {
	list-style-type: none;
	padding-left: 0%; /* 0/200px */
	padding-top: 0%; /* 0/200px */
	padding-bottom: 100%; /* 200px/200px */
	text-align: center;
	display: block;
}

.navigation li{
	margin-bottom: 2%; /* 4px/200px */
	border-radius: 10px;
	background-size: 200px 35px;
	background-image:  url(images/nav_list_gradient.jpg);
}

/*---------This section deals with the style of the anchors----------*/	
a {
	font: 1.125em/1.5 bold; /* 18px/16px */
	color: #00ff00;
	text-decoration: none;
	display: block;
  }
		
a:visited{
    color: orange;
 }
		   
a:hover {
  text-decoration: none;
  color: purple;
  background-color: orange;
}

a:active {
  color: white;
  background-color: black;
}
	
/*-----------This section deals with positioning */
	
header {
	font-size: 1em; /* 16px/16px */
	text-align: left;
	color: #330066;
	width: 100%; /* 960px/960px */
	float: left;
	}
.bodycontent{
	width: 78.645833%; /* 755px/960px */
	margin-left: .520833%; /* 5px/960px */
	float: left;
	}

h1 {
	padding-top: 15.625%; /* 150px/960px*/
	padding-left: 1.770833%; /* 17px/960px*/
	padding-bottom: 0%;
	margin: 0%;
	background: orange url(images/scooby_shaggy_fred.jpg) no-repeat center;
}

h3 {
	font-size: .9375em; /* 15px/16px */
	}

#tagline p{
	color: #ffffff;
	text-align: center;
	font: 1.25em bold Helvetica, "Times New Roman", serif;;
	background-color: #6600ff;
	width: 100%; 
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: .4166666666667% 0%; /* 4px/960px */
	margin: 0%;
	}
	   


footer {
	clear: both;
	float: none;
	padding-top: 3.125%; /* 30px/960px */
	text-align: center;
	width:100%;
	}
	
/*This section deals with images*/

.imagefeature{
	float: right;
	margin: 1.9867549668874%; /*15px;*/
	border: dotted .625em orange;
	width: 40.2649006622517%; /* 304px/755px */
}

article img{
	max-width: 100%;
}

.imagegallery{
	list-style-type: none;
	border: .1875em solid yellow; /* 3px/16px */
	float: right;
	margin: 1.9867549668874%; /* 15px/755px */
	padding: .7067137809187%; /* 2px283px */
	width: 37.483444%; /* 283px/755px */
	overflow: hidden;
	}
	
.imagegallery li{
	float: left;
	width: 15%;
	margin-top: 5.3003533568905%; /* 15px/283px */
	margin-left: 7.0671378091873%; /* 20px/283px */
	padding: 2px;
	}

.imagegallery a{
	border: 4px dotted orange;
	padding: 0%;
	width: 100%;
}

.imagegallery img{
	padding-top: 12%;
	max-width: 100%;
}
	