/*CSS for ScoobyDoo Site*/

/*this section deals with the entire body of website*/
body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #996699;
 	 line-height: 125%;
 	 padding: 0;
 	 margin: 0;
	}

/*this section deals with main navigation of website*/	
nav{
	width: 200px;
	height: 500px;
	background: #660099 url(backgrounds/scooby.png) no-repeat;
	}

/*This section deals with the style of the anchors*/	
a {
	font-weight: bold;
	color: grey;
  }

a:link{
		color: grey;
	   }
		
a:visited{
		   color: white;
		 }
		   
a:hover {
  text-decoration: none;
  color: yellow;
  background-color: black;
}

a:active {
  color: green;
  background-color: yellow;
}

/*Deals with the style of the lists*/
li {
	list-style-type: none;
	}
/*This section deals with absolute positioning */
nav, header, #bodycontent{
	position:absolute;
	}
	
header {
	width: 100%;
	border-top: 1px solid #990099;
	}
	
nav, #bodycontent{
	top: 230px;
	}

#bodycontent{
	left: 220px;
	}
	
h1 {
	font-size: 30px;
	color: black;
	padding-top: 180px;
	padding-bottom: 3px;
	padding-left: 6px;
	margin: 0;
	background: orange url(backgrounds/scooby_shaggy_fred.jpg) repeat-y center;
}
	

	
	
		