/*CSS for ScoobyDoo Site*/

/*this section deals with the entire body of website*/
body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #996699;
 	 line-height: 125%;
 	 padding: 0;
 	 margin: 0;
	}

/*this section deals with main navigation of website*/	
nav{
	width: 200px;
	height: 500px;
	background: #660099 url(backgrounds/scooby.png) no-repeat;
	}
	
nav, header, #bodycontent{
	position:absolute;
	}
	
a {
	font-weight: bold;
	color: grey;
  }

a:link{
		color: grey;
	   }
		
a:visited{
		   color: white;
		 }
		   
a:hover {
  text-decoration: none;
  color: yellow;
  background-color: black;
}

a:active {
  color: green;
  background-color: yellow;
}
		